{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil - Respostas Já</title>
    <link rel="stylesheet" href="{% static 'meu_perfil.css' %}">
</head>
<body>
    <!-- Cabeçalho -->
    <header class="header">
        <div class="logo">Respostas Já</div>
        <nav class="navbar">
            <a href="{% url 'sobre-nos' %}">Sobre nós</a>
            <a href="{% url 'listar-formularios' %}">Formulários</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'meu-perfil' %}">Meu perfil</a>
        </nav>
    </header>

    <!-- Perfil -->
    <section class="perfil">
        <div class="perfil-header">
            <img src="{% static 'img/lapis.png' %}" alt="Lapis" class="opcao-icon">
            <h1>{{ usuario.username }}</h1>
        </div>
        <div class="perfil-content">
            <!-- Opções do Usuário -->
            <div class="perfil-opcoes">
                <div class="opcao">
                    <img src="{% static 'img/criar.png' %}" alt="Criar formulário" class="opcao-icon">
                    <a href="{% url 'criar-formulario' %}">Criar formulário</a>
                </div>
                <div class="opcao">
                    <img src="{% static 'img/respostas.png' %}" alt="Minhas respostas" class="opcao-icon">
                    <a href="{% url 'meu-perfil' %}">Minhas respostas</a>
                </div>
            </div>

            <!-- Progresso do Usuário -->
            <div class="perfil-progress">
                <p>Complete 5 respostas e desbloqueie um formulário!</p>
                <progress value="{{ usuario.quantidade_formularios_respondidos }}" max="5"></progress>
            </div>
        </div>
    </section>
</body>
</html>
