{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static "register.css" %}">
</head>
<body>
    <div class="container">
        <div class="register-box">
            <h2>Cadastro</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Usuário" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="text" name="first_name" placeholder="Nome" required>
                <input type="text" name="last_name" placeholder="Sobrenome" required>
                <input type="password" name="password1" placeholder="Senha" required>
                <input type="password" name="password2" placeholder="Confirmar Senha" required>
                <button type="submit">REGISTRAR</button>
                <a href="{% url 'login' %}">Já tem uma conta? Faça login.</a>
            </form>
        </div>
        <div class="right-text">
            Respostas Já
        </div>
    </div>
</body>
</html>

</html>
